<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-6"> Customers Management</h1>
                <p class="lead">Here you can see all your customers.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a [routerLink]="['/contacts/list']">
                <div class="mdc-card info-card info-card--success">
                    <div class="card-inner">
                        <h5 class="card-title">Customers</h5>
                        <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ contactsTotal }}</h5>
                        <p class="tx-12 text-muted">View More </p>
                        <div class="card-icon-wrapper">
                            <mat-icon>group</mat-icon>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>